<div class = "footer-container">
    <div class = "me-info">
        <span class="logo"><a href="">OtakuSite</a></span>
        <p>Email: vanp2100@gmail.com</p>
        <a href="{% url 'security' %}">Chính sách bảo mật</a>
    </div>

    <div class = "text">
        <p>
            Mọi thông tin và hình ảnh trên website đều được sưu tầm trên Internet. Chúng tôi không sở hữu hay chịu trách nhiệm bất kỳ thông tin nào trên web này. Nếu làm ảnh hưởng đến cá nhân hay tổ chức nào, khi được yêu cầu, chúng tôi sẽ xem xét và gỡ bỏ ngay lập tức.
        </p>
    </div>

</div>